body {
    background-color: #343a40; /* Dark background color */
    padding: 50px;
}

.container {
    max-width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    margin-bottom: 20px;
}

#predictionResult {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}